<ion-header>
  <ion-toolbar>
    <ion-title>
      Nossas Tasks
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ng-container *ngIf="!todos || todos.length == 0">
      <div *ngFor="let n of [0, 1, 2]" padding>
        <ion-skeleton-text>
          <p>
            <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
          </p>
        </ion-skeleton-text>
      </div>

    </ng-container>

    <ion-item-sliding *ngFor="let item of todos">
      <ion-item lines="inset" button [routerLink]="[ '/details', item.id ]">
        <ion-label>
          {{item.task}}
          <p>{{item.createdAt | date:'short'}}</p>
        </ion-label>
        <ion-note slot="end" color="primary">{{item.priority}}</ion-note>
      </ion-item>
      <ion-item-options side="end" (click)="remove(item)" color="secondary">
        Check
        <ion-icon name="checkmark" slot="end"></ion-icon>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="[ '/details' ]" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-item>
    <ion-input type="text" placeholder="My QR data" [(ngModel)]="qrData">
    </ion-input>
  </ion-item>
  <button ion-button full icon-left (click)="createCode()">
    <ion-icon name="barcode"></ion-icon>
    Create Code
  </button>

  <button ion-button full icon-left (click)="scanCode()">
    <ion-icon name="qr-scanner"></ion-icon>
    Scan Code
  </button>

  <ion-card *ngIf="createdCode">
    <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
    <ion-card-content>
      <p>Value: {{ createdCode }}</p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="scannedCode">
    <ion-card-content>
      Result from Scan: {{ scannedCode }}
    </ion-card-content>
  </ion-card>

</ion-content>